/* Utilitys */

.flex {
  display: flex;
}

.title-lg {
  font: var(--title-lg);
  color: var(--gray-600);
}

.title-md {
  font: var(--title-md);
}

.title-sm {
  font: var(--title-sm);
}

.subtitle {
  font: var(--subtitle);
  color: var(--gray-500);
}

.text-md {
  font: var(--text-md);
}

.text-sm {
  font: var(--text-sm);
  color: var(--gray-400);
}